<div class="alert alert-light">
  <h2 class="alert-heading">Pan Recognition Information</h2>
  <dl class="row">
    <dt class="col-sm-3">Name</dt>
    <dd class="col-sm-9">{{ panDetails?.name }}</dd>

    <dt class="col-sm-3">Father Name</dt>
    <dd class="col-sm-9">{{ panDetails?.father_name }}</dd>

    <dt class="col-sm-3">Pan Number</dt>
    <dd class="col-sm-9">{{ panDetails?.pan_num }}</dd>

    <dt class="col-sm-3">Date Of Birth</dt>
    <dd class="col-sm-9">{{ panDetails?.dob }}</dd>
  </dl>
</div>
<hr />
